
html,body{
    width:100%;
    height:100%;
}


.content-scroll
{
    overflow-y: scroll;
    max-height: 82vh;
}

.content-body
{
    background-color: rgba(0,0,0,.3);
    border-radius: 10px;
    padding: 15px;

}

.clue
{
    background-color: rgba(255,255,255,.3);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 20vh;
}

.blur
{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.clue-overlay,
.clue-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.clue-overlay {
    z-index: 10;
}